*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: myfont;
}

h1{
    color: var(--hover-color);
    z-index: 5000000000000000000000000;
    line-height: 7.1rem;
}


:root{
    --text-color: #f5f5f5;
    --girl-text-color: #FF10F0;
    --hover-color: #12f7ff;
    --bg-color: #250821;
    --secon-bg-color: #292e33;
    --big-font: 2.5rem;
    --norma-font:2rem;
    --neon-box-shadow:0 0 .5rem #12f7ff;
    --h2-font:3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18, 247,255,0.3),
    0 0 20px rgba(18, 247,255,0.3),
    0 0 30px rgba(18, 247,255,0.3),
    0 0 40px rgba(18, 247,255,0.3),
    0 0 70px rgba(18, 247,255,0.3),
    0 0 80px rgba(18, 247,255,0.3),
    0 0 100px rgba(18, 247,255,0.3),
    0 0 150px rgba(18, 247,255,0.3);

}

body{
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

 /*header*/

/*header*/
ul{
    list-style: none;
    background-color: var(--bg-color);
}
.container{
    
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}

header img{
    max-width: 150px;
}
.header{
    background-color: var(--bg-color);
    padding:12px 10%;
    z-index: 999999999999;
    position: fixed;
    width: 100%;
}
.header .nav{
    padding-left: 10%;
    background-color: var(--bg-color)
}

.header .nav ul li{
    display: inline-block;
    margin-left: 40px;
}
.header .nav ul li a{
    display: block;
    font-size: 1.7rem;
    padding:10px 0;
    color: rgba(255,255,255,0.7);
    text-transform: capitalize;
    transition: all 0.5s ease;
}



.header .nav ul li a:hover,
.header .nav ul li a.active{
    color: var(--hover-color);
    text-shadow: var(--font-neon-text-shadow);
}

.header .nav ul li a:hover{
    text-shadow: var(--font-neon-text-shadow);
}

.header #nav-check{
    position: absolute;
    opacity:0;
    pointer-events: none;
}
.nav-toggler{
    height: 34px;
    width: 44px;
    background-color: var(--hover-color);
    border-radius: 4px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.nav-toggler span{
    display: block;
    height: 2px;
    width: 20px;
    background-color: var(--bg-color);
    position: relative;
}
.nav-toggler span::before,
.nav-toggler span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    left:0;
}
.nav-toggler span::before{
    top: -6px;
}
.nav-toggler span::after{
    top: 6px;
}
@media(max-width: 991px){

    .header{
        padding: 12px 5%;
    }
    .header .nav{
        padding-left: 5%;
        z-index: 100000000;
        box-shadow:  0 5px 10px var(--hover-color);
    }
    .nav-toggler{
        display: flex;
        z-index: 9999999999;
    }
    .header .nav{
        position: absolute;
        left:0;
        top:100%;
        width: 100%;
        border-top: 1px solid rgba(255,255,255,0.2);
        opacity:0;
        visibility: hidden;
        transition: ease 0.4s all;
    }
    .header .nav ul li{
        display: block;
        margin:0;
    }
    .header #nav-check:checked ~ .nav{
        opacity: 1;
        visibility: visible;
    }
    .header #nav-check:focus ~ .nav-toggler{
        box-shadow: 0 0 15px #000000;
    }
    .header #nav-check:checked ~ .nav-toggler span{
        background-color: transparent;
    }
    .header #nav-check:checked ~ .nav-toggler span::before{
        top:0;
        transform: rotate(45deg);
    }
    .header #nav-check:checked ~ .nav-toggler span::after{
        top:0;
        transform: rotate(-45deg);
    }
}

 section{
    padding: 100px 10%;
 }

 .blog_titolo{
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0) url(./img/sfondoblog.gif) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;

}

.blog_titolo .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}
.blog_titolo .content h1{
    font-size: 7rem;
    color: var(--hover-color);
    padding: 1rem 2rem 0;
    text-shadow: 0 0 10px #250821;
    text-transform: uppercase;
}
.blog_titolo .content h2{
    font-size: 5rem;
    color: var(--text-color);
    padding: 1rem 2rem 0;
    text-shadow: 0 0 10px #250821;
    text-transform: uppercase;
}


.blog_titolo .content p{
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    text-shadow: 0px 0px 20px #292e33;
}

.blog_titolo::before{
    content: '';
    position: absolute;
    bottom: -25%;
    left: 50% ;
    transform:translateX(-50%);
    border-top: 70vh solid #250821;
    width: 120%;
    border-radius:50% ;
    z-index: 1;
    box-shadow: 0px 0px 100px 10px #12f7ff;
}

.card-wrapper{
    display: block;
    position: relative;
    top: -450px;
}

.blogintro{
    color: var(--girl-text-color);
    font-size: 2rem;
}

.blogdescr{
    text-align: center;
}
.blogdescr p{
    color: var(--text-color);
    font-size: 1.7rem;
}


 /*body*/

 .articolirecenti{
    font-size: 2rem;
    color: var(--hover-color);
 }
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    top: -400;
    position: relative;
    padding: 0 10%;
    
}
.blog_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog_heading span{
    color: var(--girl-text-color);
}
.blog_heading h3{
    font-size: 3.5rem;
    color: var(--hover-color);
}
.blog_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: wrap;
    position: relative;
}
.blog_box{
    width: 350px;
    background-color: var(--secon-bg-color);
    border-radius: 10px;
    margin: 30px 20px;
    padding: 5px;
    box-shadow: 0px 0px 10px 5px var(--hover-color);
    transition: all ease 0.4s;
    position: relative;
    bottom: 0px;
}

.blog_box a{
    color: var(--hover-color)
}

.blog_box:hover{
    box-shadow: 0px 0px 10px 10px var(--girl-text-color);
    bottom: 5px;
}
.blog_box:hover a{
    color: var(--girl-text-color);
}


.post_img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.post_img{
    padding: 5px;
}

.post_text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.post_text span{
    color: var(--text-color);
    font-size: 0.9rem;
}

.post_text .post_title{
    font-size: 1.9rem;
    font-weight: 500;
    
}


.post_text p{
    color: var(--text-color);
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0px;
}
.btn-box{
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 45px;
    margin: 0.5rem 0;
}

.btn-box a.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--hover-color);
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
}

a.btn:hover{
    color: var(--hover-color);
}

a.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

a.btn:hover::before{
    width: 100%;
}

/*FORM*/

#contactform{
    margin-top: 0px;
    height: auto;
}

.compila{
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
}

.contact-form{
    max-width: 700px;
    margin: auto;
    background-color: var(--bg-color);
    padding: 10%;
    box-shadow: 0px 0px 30px 10px var(--hover-color);
    border-radius: 20px;
}



input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--hover-color);
    box-sizing: border-box;
    cursor: pointer;
}
input[type=submit]{
    background: var(--hover-color);
    color: var(--secon-bg-color);
    transition-duration: .7s;
    border: 0px;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 1.3rem;
    margin-top: 10px;
}


input[type=submit]:hover{
    background: var(--girl-text-color);
    color: var(--secon-bg-color);
    cursor: pointer;
}

.contact-form label:nth-child(1),
.contact-form label:nth-child(3),
.contact-form label:nth-child(14){
color: var(--text-color);
}
.contact-form label:nth-child(5){
    color: var(--hover-color);
}
.contact-form label:nth-child(8){
    color: var(--girl-text-color);
}
.contact-form label:nth-child(11){
    color: var(--textv3);
}

.contact-form label:nth-child(1),
.contact-form label:nth-child(3),
.contact-form label:nth-child(5),
.contact-form label:nth-child(8),
.contact-form label:nth-child(11),
.contact-form label:nth-child(14){
    font-size: 1.3rem;
}



 /*footer*/

 footer{
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secon-bg-color);

}

footer p{
    color: #bdbdbd;
}

footer a{
    justify-content: center;
    display: inline-flex;
    color: var(--text-color);
    background: var(--hover-color);
    padding: .6rem;
    border-radius: 5px;

}


.icons{
    fill: var(--hover-color);
    cursor: pointer;
    transition: all ease 0.4s;
}

.icons:hover{
    filter: drop-shadow(0px 0px 10px var(--girl-text-color));
}

.btn-box{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: 45px;
    margin: 2rem 0;
    gap: 18px;
}

@media(max-width:1250px){
    .blog_box{
        width: 300px;
    }
}

@media(max-width:1105px){
    .blog_box{
        
        margin: 20px 20px;
    }

    
    
}


@media(max-width:622px){
    .blogintro {
        margin-top: 140px;
    }
}


@media(max-width:500px){
    .blog_box{
        margin:20px 0px;
        width: 85%;
    }
    #blog{
        padding: 20px;
    }
    .blog_container{
        
        position: relative;
        
    }
    #blog{
        padding-top: 35px;
    }
    .blog_titolo{
        top: -50px;
    }
}

@media(max-width:850px){
    .blog_container {
        width: 100%;
    }
}

@media(max-width:845px){
    .blog_box {
        width: 100%;
    }
}


